.header {
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 20%;
    z-index: 5;

    &__div {
        &__presentation {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__picture {
                width: 40%;
                border-radius: 50%;
            }
        
            &__caption:link, &__caption:visited {
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
            }
        }
    }

    .navbar {
        &__menu {

            &__item {
                &__icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                &__link {

                }
            }
            span {
                color: white;
            }
        }
    }
}

.main {
    margin-left: 20%;
    width: 80%;
    
    #home {
        width: 100%;
        height: 40vh;
        background-attachment: fixed;
    }
    
    &__container {
        
        &__content {
            padding: 3% 5% 5% 5%;
            animation: example 5s linear 2s infinite alternate;
            &__presentation {
                position: relative;

                &__background {
                    width: 100%;
                    height: 40vh;

                }
    
                &__caption {
                    background-color: transparent;
                    color: white;
                    font-weight: bold;
                    font-size: 2.5rem;
                    position: absolute;
                    top: 15vh;
                    bottom: 15vh;
                    left: 10vw;
                    right: 10vw;
                    text-align: center;
    
                } 
            }

            &__caption {
                color:  #0F3D3E;
                text-align: center;
            }

            &__description {
                width: 75vw;
                
            }

            &__div {

                &__width {
                    width: 55vw;
                }

                &__image {
                    width: 20vw;
                    height: 36vh;
                    padding-right: 2vw;
                }
                &__sub {
                    color:  #0F3D3E;

                }

                &__paragraph {

                }

                &__list {
                    list-style: none;
                    &__item {

                    }
                }
            }

            .card {
                width: 30%;
            }

            .card:hover, .card:active {
                width: 31%;
                box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
            }
                
            .card-img-top {
                    width: 100%;
                    height: 45%;
            }
            .btn {
                background-color: #0F3D3E;
                border: none;
            }

            .btn:link, .btn:visited {
                box-shadow: -1px 0px 5px 0px #0F3D3E;
                -webkit-box-shadow: -1px 0px 5px 0px #0F3D3E;
                -moz-box-shadow: -1px 0px 5px 0px #0F3D3E;
            }

            .btn:hover, .btn:active {
                background-color: white;
                color: #0F3D3E;
            }

            &__form {

                .form-control {
                    width: 90%;
                }

                .form-control:focus {
                    outline: 0.1rem solid #0F3D3E;
                }
            }

        }

        @keyframes example {
            0%   {background-color:rgb(195, 202, 221); }
            25%  {background-color: white;}
            50%  {background-color: rgb(195, 202, 221);}
            75%  {background-color: white;}
            100% {background-color:rgb(195, 202, 221);}
          }

        &__content:link, &__content:visited {

        }
    }



}