body {
    width: 100vw;
}

.header {
    background-color: pink;
    position: fixed;
    height: 100vh;
    width: 20vw;

    &__div {
        &__presentation {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__picture {
                width: 40%;
                border: 0.5rem solid rgb(214, 139, 214);
                border-radius: 50%;
            }
        
            &__caption:link, &__caption:visited {
                text-decoration: none;
                color: white;
                font-size: 1.5rem;
            }
        }
    }

    .navbar {
        &__menu {

            &__item {
                &__icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
                &__link {

                }
            }
            span {
                color: white;
            }
        }
    }
}

.main {
    margin-left: 20vw;

    &__container {

        &__content {
            &__presentation {
                position: relative;

                &__background {
                    width: 80vw;
                    height: 70vh;

                }
    
                &__caption {
                    background-color: transparent;
                    color: white;
                    position: absolute;
                    top: 30vh;
    
                } 
            }

            &__caption {
                color: rgb(214, 139, 214);
            }

            &__description {
                
            }
        }
    }


}